<% extend('../layout/main') %>
    <div class="container">
        <div class="row ">
            <div class="col-md-4 add-categories">
                <div class="panel panel-default">
                    <div class="panel-heading">Add Category</div>
                    <div class="panel-body">
                        <form id="addCat" method="post" action="add-category" class="form-horizontal" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 col-xs-2 control-label">Name</label>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <input type="text" class="form-control" name="name" placeholder="Category Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 col-xs-2 control-label">Icon</label>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <input type="file" class="form-control" name="icon" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 add-categories">
                <div class="panel panel-default">
                    <div class="panel-heading">Add Poll</div>

                    <div class="panel-body">
                        <form id="addPoll" method="post" action="" class="form-horizontal" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 col-xs-2 control-label">Category</label>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <select class="form-control" name="category[]" required="" id="selectCat" multiple="multiple">
                                    <option value="">Choose Category</option>
                                    
                                    
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 col-xs-2 control-label">Question</label>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <input type="text" class="form-control" name="question" placeholder="Question" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 col-xs-2 control-label">Options</label>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <input type="text" class="form-control" name="poll[0].option" placeholder="Option" />
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i>+</button>
                                </div>
                            </div>

                            <!-- The template for adding new field -->
                            <div class="form-group hide" id="bookTemplate">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <input type="text" class="form-control" name="option" placeholder="Option" />
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-1">
                                    <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i>-</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 col-xs-2 control-label">Background</label>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <input type="file" class="form-control" name="background" placeholder="Choose background image." />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 add-categories">
                <div class="panel panel-default">
                    <div class="panel-heading">Import Poll</div>

                    <div class="panel-body">
                        <form action="" method="post">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-2 col-xs-2 control-label">Upload Poll</label>
                                <div class="col-md-10 col-sm-10 col-xs-10">
                                    <input type="file" name="polls" placeholder="Please choose file to upload." class="form-control">
                                </div>
                                <small>please upload .csv files only.</small>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-1">
                                    <button class="btn btn-default" type="submit">Upload</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Category</div>

                    <div class="panel-body">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Name</th>
                                    <th>Icon</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><img src="" class="img-responsive img-circle" width="50px"> </td>
                                    <td>
                                        <a href="" id="delete-category"><i class="fa fa-trash"></i></a> |
                                        <a href=""><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Polls</div>

                    <div class="panel-body">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Category</th>
                                    <th>Question</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>}</td>
                                    <td>

                                    </td>
                                    <td></td>
                                    <td>
                                        <label class="actived"><input type="radio" name="active" value=""> <span>Deactivate</span></label> |
                                        <a href=""><i class="fa fa-pencil"></i></a> |
                                        <a href="" id="delete-poll">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>